@tailwind base;
@tailwind components;

@font-face {
  font-family: Karla;
  src: local('Karla');
  url: ('/fonts/Karla/Karla-Regular.tff');
}

* {
  font-family: 'Karla';
  box-sizing: content-box;
}

@tailwind utilities;
